:root {
    --iris: #4D5AE5;
    --ocean: #404BBF;
    --navyblue: #2E2F42;
    --green: #31D0AA;
    --slate: #434455;
    --lightslate: #8E8F99;
    --cornflower: #E7E9FC;
    --cloud: #F4F4FD;
    --navyblue-modal: rgba(46, 47, 66, 0.40);
    --grey: rgba(46, 47, 66, 0.70);
    --white: #FFF;
    --font-primary: 'Roboto', sans-serif;
}

@import "reset";

body {
    font-family: var(--font-primary);
    color: var(--slate);
    background-color: var(--white);
}

.header {
    border-bottom: 1px solid var(--cornflower);

    & .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav {
        display: flex;
        align-items: center;
    }

    &__logo-color {
        color: var(--navyblue);
    }

    &__menu {
        display: flex;
        gap: 40px;
    }

    &__menu-item {
        
    }

    &__menu-link {
        display: inline-block;
        color: var(--navyblue);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;

        &:hover,
        &:focus {
            color: var(--ocean);
        }
    }

    &__address {
        font-style: normal;
    }

    &__contact {
        display: flex;
        gap: 40px;
    }

    &__contact-item {}

    &__contact-link {
        color: inherit;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;

        &:hover,
        &:focus {
            color: var(--ocean);
        }
    }
}

.logo {
    color: var(--iris);
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-right: 76px;
}

.banner {
    background-color: var(--navyblue);
    padding: 188px 0;

    &__title {
        max-width: 496px;
        color: var(--white);
        font-size: 56px;
        text-align: center;
        line-height: 1.07;
        letter-spacing: 0.02em;
        margin: 0 auto 48px auto;
    }

    &__button {
        min-width: 169px;
        height: 56px;
        display: block;
        color: var(--white);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        background-color: var(--iris);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
        border: none;
        cursor: pointer;
        margin: 0 auto;

        &:hover,
        &:focus {
            background: var(--ocean);
        }
    }
}

.features {
    padding: 120px 0;

    &__list {
        display: flex;
        gap: 24px;
    }

    &__list-item {
        flex-basis: calc((100% - 72px) / 4);
    }

    &__item-title {
        color: var(--navyblue);
        font-size: 20px;
        font-weight: 500;
        line-height: 1.2;
        letter-spacing: 0.02em;
        margin-bottom: 8px;
    }

    &__item-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.title {
    color: var(--navyblue);
    text-align: center;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.works {
    padding-bottom: 120px;

    &__list {
        display: flex;
        gap: 24px;
    }

    &__list-item {
        flex-basis: calc((100% - 48px) / 3);
    }
}

.team {
    background-color: var(--cloud);
    padding: 120px 0;

    &__list {
        display: flex;
        gap: 24px;
    }

    &__item {
        flex-basis: calc((100% - 72px) / 4);
        background-color: var(--white);
        border-radius: 0 0 4px 4px;
    }
}

.item-photo {}

.item-info {
    padding: 32px 16px;
}

.item-title {
    color: var(--navyblue);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 8px;
}

.item-text {
    color: var(--slate);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

.footer {
    background-color: var(--navyblue);
    padding: 100px 0;

    &__logo {
        display: inline-block;
        margin-right: 0;
        margin-bottom: 16px;
    }

    &__logo-color {
        color: var(--cloud);
    }

    &__text {
        max-width: 264px;
        color: var(--cloud, #F4F4FD);
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }
}

.portfolio {
    padding: 96px 0 120px 0;

    &__filter {
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 72px;
    }

    &__filter-item {}

    &__filter-button {
        color: var(--iris);
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        border-radius: 4px;
        border: 1px solid var(--cornflower);
        background-color: var(--cloud);
        cursor: pointer;
        padding: 12px 24px;

        &:hover,
        &:focus {
            color: var(--white);
            background-color: var(--ocean);
            border: 1px solid transparent;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 48px;
    }

    &__item {
        flex-basis: calc((100% - 48px) / 3);
    }

    &__info {
        border: 1px solid var(--cornflower);
        border-top: none;
        text-align-last: left;
    }
}